* {
    /*border: 1px solid red;*/
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

p {
    font-size: 25px;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.line {
    display: flex;
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
}

.take {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#input {
    font-size: 20px;
    margin: 15px;
}

button {
    padding: 5px 15px;
    border-radius: 5px;
}

button:hover {
    background: linear-gradient(300deg, white, grey);
}

button:active {
    background: linear-gradient(120deg, white,grey);
}


.box {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.scale {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
}

.pointer {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: -9px;
    transition: left 0.5s ease-out 0s;
}

span {
    font-size: 17px;
}

.ag {
    width: 100%;
    margin: 10px auto;
    color: black;
    background-color: white;
}

