* {
    /*border: 1px solid red;*/
}

.box {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.cell {
    width: 58px;
    height: 58px;
}

.direction {
    display: flex;
}

.dir {
    margin: auto;
}

.contour {
    border: 1px solid black;
    display: flex;
}

.gamestage {
    margin: auto;
}

h3 {
    font-size: 20px;
    text-align: center;
}

button {
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
}

button:hover {
    background: linear-gradient(300deg, white, grey);
}

button:active {
    background: linear-gradient(120deg, white,grey);
}


.ag {
    width: 100%;
    margin: 30px auto;
    color: black;
    background-color: white;
}
