* {
    /*border: 1px solid red;*/
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box {
    width: 300px;
    height: 300px;
    border: 2px outset black;
    position: relative;
    margin: 0 auto;
}

p {
    font-size: 20px;
    text-align: center;
}

span {
    font-size: 23px;
}

.weapon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 270px;
    left: 137.5px;
    transition: left 0.5s ease-out 0s;
}

.meteor {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.5s ease-out 1s;
}

.glyphicon-menu-up {
    font-size: 13px;
}

.glyphicon-certificate {
    font-size: 23px;
    transition: font-size 2s ease-out 0s;
}

.ammunition {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 255px;
    left: 142.5px;
    transition: left 0.5s ease-out 0s, top 0.5s ease-out 0.5s;
}

.boom {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.coordinates {
    width: 300px;
    margin: 30px auto;
}

button {
    padding: 5px 15px;
    border-radius: 5px;
    width: 100%;
    margin: 30px auto;
}

button:hover {
    background: linear-gradient(300deg, white, grey);
}

button:active {
    background: linear-gradient(120deg, white,grey);
}


.ag {
    width: 100%;
    margin: 30px auto;
    color: black;
    background-color: white;
}

